.propertyFilterWrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
    margin-bottom:25px;
    
}
.propertyFilterWrapper{
    gap:40px;
    
}
.propertyFilter{
    padding:16px;
}
.filterWrapper{
    border: 1px solid #E5E5E5;
    background-color: white;
    padding: 1rem 2rem;
    width:450px;
    max-width: 100%;
    align-self: flex-start;

    .titleContainer .filterTitle{
        font-size:18px;
        font-weight: 600;
        margin-bottom: .5rem;
    }
    
}
.filterContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.filterSelect{
    padding:.5rem 1rem;
    color: #333;
    width: 100%;
}
.inputContainer,.textInput{
    width: 100%;
}
.textInput{
    padding:.5rem 1rem;
}
.closeButton{
    display:none;
}
.priceContainer{
    display:flex;
    align-items: center;
    border:1px solid #E4E7EB;
    .priceLabel{
        padding:8px;
        background-color: #E5E5E5;
        
        
    }
    .textInput{
        border:none;
        
    }
}
.priceRange{
    display:flex;
    gap:1rem;
    
}
.roomContainer{
    display:flex;
    width: 100%;
    
    text-align: center;
    .roomInput{
        display:block;
        appearance: none;
        
    }
    
    .radioContainer{
        border:1px solid #E4E7EB;
        padding: 0.5rem 1rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        .roomLabel{
            width: 100%;
            cursor:pointer;
        }
    }
    
}
.checked{
    background-color: #E5E5E5;

}
.filterButtons{
    display:flex;
    width: 100%;
    gap:1rem;
}
.applyFilterBtn{
    color:black;
    border:1px solid black;
    width: 100%;
    padding:.5rem 1rem;
    cursor:pointer;
}

.applyFilterBtn:nth-child(2){
    background-color:rgb(252, 94, 94);
    color:white;
    border:red;
}
.applyFilterBtn:nth-child(2):hover{
    background-color:red;
    color:white;
}
.applyFilterBtn:hover{
    background-color:black;
    color:white;
}

@media (max-width:950px){
    
    .filterWrapper{
        transition: transform 250ms ease-in-out;
        position:fixed;
        transform:translateX(100%);
        z-index: 1001;
        top:0;
        right:0;
        width: 100%;
        
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .closeButton{
            display:block;
            color:black;
            border:1px solid black;
            padding:.5rem 1rem;
            cursor:pointer;
        }
        .closeButton:hover{
            background-color:black;
            color:white;
        }
        .titleContainer{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom:1rem;
            font-size:.8rem;
        }
        .titleContainer, .filterContainer{
            width: 400px;
        }
    }
    .filterWrapper.visibleFilter{
        
        transform:translateX(0);
       
        
        
    }
    
}