.galleryWrapper{
    margin-top: 50px;
    max-width: 600px;
    width: 100%;
    
}
.galleryWrapper img{
    object-fit: contain;
    margin:0 auto;
    
    
}

@media (max-width: 768px){
    .galleryWrapper img{
        height:300px;
    }
}
