.heroWrapper{
    text-align: center;
    color:white;
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.267)), url("https://thumb.rebs-site-builder.com/0XrQJEkZIc2o5fT7OcDYEVEyAf-qrF3P1qmGMyfK234/fill/1920/1080/ce/0/aHR0cHM6Ly9zdGF0/aWMucmVicy1zaXRl/LWJ1aWxkZXIuY29t/L2ZpbGVzLzc1NC83/ZTJlZTkxY2Q5M2Q0/MDlmOGZiYzgwYzRk/YTU1Njg0My9CYXNh/cmFiLWNvdmVyLTEu/anBn.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.navigateDown{
    position: absolute;
    bottom:40px;
    padding:.8rem;
    border-radius: 50%;
    border:2px solid white;
   
}
.arrowIcon{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 4px solid white;
    border-top: 4px solid transparent;
    border-right:4px solid transparent;
    rotate: -45deg;
    translate: 0 -25%;
    
}
.title{
    font-size:min(2.5rem, 15vw);
    line-height: 50px;
    margin-bottom: 1rem;;
}
.description{
    font-size:min(1.5rem, 5vw);
    line-height: 32px;
}

.heroCta{
    display:inline-block;
    padding:16px 32px;
    border:2px solid white;
    margin-top:32px;
    transition: all 0.3s ease;
}

.heroCta:hover{
    background:white;
    color:black;
}

@media(max-width:600px){
    .heroWrapper{
        background-attachment: scroll;
        padding:1rem;
    }
}