.propertiesWrapper{
    display:flex;
    justify-content: space-between;
    margin:100px auto;
    max-width: 1100px;
    gap:2rem;
    container-type: inline-size;
    padding:0 16px;
}

.propertyCard{
    width: 300px;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    gap:8px;
    
    .propertyTitle{
        font-size:1rem;
    }
    .price{
        color:rgba(0,150,50)
    }
    .description{
        font-size:0.8rem;
    }
}
.propertiesList{
    display:grid;
    grid-template-columns: 1fr;
    gap:30px;
    width: 1000px;
    max-width: 100%;

}
.propertyWrapper{
    display:flex;
    align-items: center;
    gap:30px;
    .imageLink{
        max-width: 316px;
        width: 100%;
        display:block;
    }
    .propertyImage{
        width: 100%;
        max-width: 316px;
    }
    .propertyDesc{
        display:flex;
        flex-direction: column;
        gap:8px;
    }
    .propertyTitle{
        font-size:18px;
    }
    .propertyCTA{
        background-color:#2ABB67;
        color:white;
        width: 200px;
        padding:10px 20px;
        
    }
}

@media (max-width:800px){
    .propertiesWrapper{
        flex-direction: column;
        align-items: center;
    }
}