/*old code */

.propertiesWrapper {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    max-width: 1100px;
    gap: 2rem;
    container-type: inline-size;
    padding: 0 16px;
}

.propertyTitle {
    font-size: 1rem;
}

.price {
    color: #00b34a;
}

.description {
    font-size: 0.8rem;
}

.propertyCard {
    width: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.propertiesList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 1000px;
    max-width: 100%;
    padding: 0 16px;
}

.propertyWrapper {
    display: flex;
    align-items: center;


    .imageLink {
        max-width: 316px;
        width: 100%;
        display: block;
    }

    .propertyImage {
        width: 100%;
        max-width: 316px;
    }

    .propertyDesc {
        padding: 1rem;
    }



    .propertyTitle {
        font-size: 18px;
    }

    .propertyCTA {
        background-color: #2ABB67;
        color: white;
        width: 200px;
        padding: 10px 20px;

    }
}

.propertyDesc {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
}

@media (max-width:1100px) {
    .propertiesWrapper {
        flex-wrap: wrap;
    }
}

@media (max-width:850px) {
    .propertiesList {
        place-items: center;
    }

    .propertiesWrapper {
        grid-template-columns:
    }

    .propertyWrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 316px;

        .propertyDesc {
            padding: 1rem;
        }
    }




}