.modalWrapper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgb(255,255,255);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1001;
    overflow-x:hidden;
    .modalContainer{
        width: 1200px;
        max-width: 100%;
    }
    .modalImage{
        object-fit: cover;
        
    }
}
.modalCloseButton{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    z-index: 1002;
}
@media (max-width:600px){
    .modalImage{
        height: 300px;
        min-height: auto;
        width: auto;
    }
}