.tableContainer{
    display:flex;
    
}
.tableContainer div{
    width: 50%;
}

.tableDetails{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(77, 77, 77);
}
.tableDetails td{
    border-bottom: 1px solid #00000027;
    padding:.5rem;
}

@media (max-width:600px){
    .tableContainer div{
        width: 100%;
    }
    .tableContainer{
        flex-direction: column;
    }
}