.propertyPage {
    padding: 16px;
    width: 1440px;
    max-width: 100%;
    margin: 100px auto;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    .pageHeader,
    .propertyDetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 938px;
    }

    .propertyDetails {
        display: flex;
        gap: 16px;
        justify-content: flex-start;
        margin-top: 1rem;

    }

    .price {
        color: rgba(0, 150, 50);
    }

}
.propertyDetailsWrapper{
    width: 1300px;
    max-width: 100%;
}


.propertySpecifications {
    margin-top: 50px;
    max-width: 938px;
    width: 100%;


    gap: 1rem;
    justify-content: space-between;

}
@media (max-width:1350px){
    .propertyPage{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:950px) {

    .pageHeader,
    .propertyDetails {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .propertyDetails div {
        justify-content: center;
        gap: 1rem;
    }
}